<?php

return [
    'backend' => [
        'frontName' => '${BACKEND_FRONTNAME}',
    ],
    'cache' => [
        'graphql' => [
            'id_salt' => '${CACHE_GRAPHQL_ID_SALT}',
        ],
        'frontend' => [
            'default' => [
                'id_prefix' => '${CACHE_FRONTEND_DEFAULT_ID_PREFIX}',
            ],
            'page_cache' => [
                'id_prefix' => '${CACHE_PAGE_CACHE_ID_PREFIX}',
            ]
        ],
        'allow_parallel_generation' => false
    ],
    'config' => [
        'async' => 0
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
    'crypt' => [
        'key' => '${CRYPT_KEY}',
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '${CONNECTION_DEFAULT_HOST}:${CONNECTION_DEFAULT_PORT}',
                'dbname' => '${CONNECTION_DEFAULT_DB_NAME}',
                'username' => '${CONNECTION_DEFAULT_USERNAME}',
                'password' => '${CONNECTION_DEFAULT_PASSWORD}',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
     'date' => [
        'timezone' => 'America/Sao_Paulo'
    ],
    'session' => [
        'save' => 'files'
    ],
    'lock' => [
        'provider' => 'db'
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'graphql_query_resolver_result' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1
    ],
    'downloadable_domains' => [
        '${DOWNLOADABLE_DOMAINS}'
    ],
    'install' => [
        'date' => 'Mon, 25 Apr 2025 16:07:40 +0000'
    ],
    'system' => [
        'default' => [
            'system' => [
                'media_storage_configuration' => [
                    'media_storage' => 2,
                    'aws_s3' => [
                        'bucket'   => '${REMOTE_STORAGE_CONFIG_BUCKET}',
                        'region'   => '${REMOTE_STORAGE_CONFIG_REGION}',
                        'prefix'   => 'petmorestore',
                        'key'      => '${REMOTE_STORAGE_CONFIG_KEY}',
                        'secret'   => '${REMOTE_STORAGE_CONFIG_SECRET}',
                        'endpoint' => '${REMOTE_STORAGE_CONFIG_USE_ENDPOINT}',
                        'use_path_style_endpoint' => true
                    ]
                ]
            ],
            'catalog' => [
                'search' => [
                    'engine' => '${CATALOG_SEARCH_ENGINE}',
                    'elasticsearch7_server_hostname' => '${CATALOG_SEARCH_SERVER_HOSTNAME}',
                    'elasticsearch7_server_port' => '${CATALOG_SEARCH_SERVER_PORT}',
                    'elasticsearch7_index_prefix' => '${CATALOG_SEARCH_INDEX_PREFIX}',
                    'elasticsearch7_enable_auth' => '0',
                    'elasticsearch7_server_timeout' => '${CATALOG_SEARCH_SERVER_TIMEOUT}'
                ]
            ],
 //           'web' => [
 //               'unsecure' => [
 //                   'base_media_url' => '${WEB_DEFAULT_BASE_MEDIA_URL_UNSECURE}'
 //               ],
 //               'secure' => [
 //                   'base_media_url' => '${WEB_DEFAULT_BASE_MEDIA_URL_SECURE}'
 //               ]
 //           ]
        ]
    ],
    'modules' => [
        'Magento_TwoFactorAuth' => 0,
    ],
//    'remote_storage' => [
//        'driver' => '${REMOTE_STORAGE_DRIVER}',
//        'config' => [
//            'bucket' => '${REMOTE_STORAGE_CONFIG_BUCKET}',
//            'region' => '${REMOTE_STORAGE_CONFIG_REGION}',
//            'key' => '${REMOTE_STORAGE_CONFIG_KEY}',
//            'secret' => '${REMOTE_STORAGE_CONFIG_SECRET}',
//            'endpoint' => '${REMOTE_STORAGE_CONFIG_USE_ENDPOINT}',
//            'use_path_style_endpoint' => ${REMOTE_STORAGE_CONFIG_USE_PATH_STYLE},
//            'prefix'   => 'petmorestore',
//        ]
//    ],

];
