<?php

return [
    'backend' => [
        'frontName' => '${BACKEND_FRONTNAME}',
    ],
    'remote_storage' => [
            'driver' => 'aws-s3',
            'prefix' => '${REMOTE_STORAGE_CONFIG_PREFIX}',
            'config' => [
                'endpoint' => '${REMOTE_STORAGE_CONFIG_USE_ENDPOINT}',
                'bucket' => '${REMOTE_STORAGE_CONFIG_BUCKET}',
                'region' => '${REMOTE_STORAGE_CONFIG_REGION}',
                'credentials' => [
                    'key' => '${REMOTE_STORAGE_CONFIG_KEY}',
                    'secret' => '${REMOTE_STORAGE_CONFIG_SECRET}'
                ],
                'use_path_style_endpoint' => ${REMOTE_STORAGE_CONFIG_USE_PATH_STYLE},
                'path-style' => ${REMOTE_STORAGE_CONFIG_USE_PATH_STYLE},
            ],
    ],
    'cache' => [
        'graphql' => [
            'id_salt' => '${CACHE_GRAPHQL_ID_SALT}',
        ],
        'frontend' => [
            'default' => [
                'id_prefix' => '${CACHE_FRONTEND_DEFAULT_ID_PREFIX}',
            ],
            'page_cache' => [
                'id_prefix' => '${CACHE_PAGE_CACHE_ID_PREFIX}',
            ]
        ],
        'allow_parallel_generation' => false
    ],
    'config' => [
        'async' => 0
    ],
    'queue' => [
        'consumers_wait_for_messages' => 1
    ],
    'crypt' => [
        'key' => '${CRYPT_KEY}',
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '${CONNECTION_DEFAULT_HOST}:${CONNECTION_DEFAULT_PORT}',
                'dbname' => '${CONNECTION_DEFAULT_DB_NAME_VARIABLE}',
                'username' => '${CONNECTION_DEFAULT_USERNAME}',
                'password' => '${CONNECTION_DEFAULT_PASSWORD}',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'session' => [
        'save' => 'files'
    ],
    'lock' => [
        'provider' => 'db'
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'graphql_query_resolver_result' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1
    ],
    'downloadable_domains' => [
        '${DOWNLOADABLE_DOMAINS}'
    ],
    'install' => [
        'date' => 'Mon, 25 Apr 2025 16:07:40 +0000'
    ],
    'system' => [
        'default' => [
            'catalog' => [
                'search' => [
                    'engine' => '${CATALOG_SEARCH_ENGINE}',//opensearch
                    'opensearch_server_hostname' => '${CATALOG_SEARCH_SERVER_HOSTNAME}',
                    'opensearch_server_port' => '${CATALOG_SEARCH_SERVER_PORT}',
                    'opensearch_index_prefix' => '${CATALOG_SEARCH_INDEX_PREFIX}',
                    'opensearch_server_timeout' => '${CATALOG_SEARCH_SERVER_TIMEOUT}',
                    'opensearch_enable_auth' => ${CATALOG_SEARCH_IS_ENABLE},
                    'opensearch_auth_username' => '${CATALOG_SEARCH_USERNAME}',
                    'opensearch_auth_password' => '${CATALOG_SEARCH_PASSWORD}',
                ]
            ],
            'web' => [
                'unsecure' => [
                    'base_media_url' => '${WEB_DEFAULT_BASE_MEDIA_URL_SECURE}'
                ],
                'secure' => [
                    'base_media_url' => '${WEB_DEFAULT_BASE_MEDIA_URL_SECURE}'
                ]
            ],
        ],
    ],
    'modules' => [
        'Magento_TwoFactorAuth' => 0,
        'Magento_AwsS3' => 1,
    ],
];
