/app/etc/env.php
/app/etc/config.php

/var/*
!/var/.htaccess

/pub/media/*
!/pub/media/.htaccess

/pub/static/*
!/pub/static/.htaccess

/generated/*
!/generated/.htaccess

/vendor/

*.log
/var/log/*
/var/report/*
/var/cache/*
/var/page_cache/*
/var/view_preprocessed/*
/var/di/*

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

.env
