<?xml version="1.0"?>
<!--
/**
 * @category BZOTech
 * @package BzoTech_PopupLogin
 * @version 1.0.0
 * @copyright Copyright (c) 2022 BZOTech Company. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * @author BZOTech Company <contact@bzotech.com>
 * @link https://bzotech.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <popuplogin>
            <general>
                <enable>1</enable>
                <popup_logo>default/logo.png</popup_logo>
                <redirect>current</redirect>
                <custom_page></custom_page>
                <popup_type>modal</popup_type>
            </general>
        </popuplogin>
    </default>
</config>