.header-desktop {
  background-color: #FFFFFF;
}

.row .hd-top-support .help a {
  color: @primary-color-child;
}

.row .hd-top-support .help a:hover {
  color: @secondary-color-child;
}

.row .hd-top-support .tracking a {
  color: @primary-color-child;
}

.row .hd-top-support .tracking a:hover {
  color: @secondary-color-child;
}

.row .header-services .hd-top-services a {
  color: @primary-color-child;
}

.row .header-services .hd-top-services a:hover {
  color: @secondary-color-child;
}

.header-services .hd-top-services .dropdown-block a {
  color: @primary-color-child;
}

.header-services .hd-top-services .dropdown-block a:hover {
  color: @secondary-color-child;
}

.megamenu-items .level0.category-item .level-top .cat-name {
  color: @primary-color-child;
}

.megamenu-items .level0.category-item .level-top .cat-name:hover {
  color: @secondary-color-child;
}

.r-content .block.block-wishlist .block-title .count {
  color: #fff !important;
  background-color: @secondary-color-child !important;
}

.minicart-wrapper .action.showcart .counter.qty {
  color: #fff !important;
  background-color: @secondary-color-child !important;
}

.header-desktop .bottom-services .container a {
  color: @primary-color-child;
}

.header-desktop .bottom-services .container a:hover {
  color: @secondary-color-child;
}

.cus-links a {
  color: @primary-color-child;
}

.cus-links a:hover {
  color: @secondary-color-child;
}

.megamenu-nav .submenu li a {
    color: @primary-color-child !important;
}

.megamenu-nav .submenu li a:hover {
    color: @secondary-color-child !important;
}

.search-header .block-search:before {
    background: url("../images/header.svg") no-repeat 14px 26px;
}

.header-links:before {
    background: url("../images/header.svg") no-repeat -27px 26px;
}

.header-wishlist a:before {
    background: url("../images/header.svg") no-repeat -75px 26px;
}

.hd-cart .minicart-wrapper .action.showcart:after {
    background: url("../images/header.svg") no-repeat -120px 26px;
}

.search-header .block-search:hover:before {
    background: url("../images/header_hover.svg") no-repeat 14px 26px;
}

.header-links:hover:before {
    background: url("../images/header_hover.svg") no-repeat -27px 26px;
}

.header-wishlist a:hover:before {
    background: url("../images/header_hover.svg") no-repeat -75px 26px;
}

.hd-cart .minicart-wrapper .action.showcart:hover:after {
    background: url("../images/header_hover.svg") no-repeat -120px 26px;
}

.header-desktop .hd-top-support ul .tracking a:before {
    background: url("../images/tracking.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none;
    -webkit-filter: none;
}

.header-desktop .hd-top-support ul .help a:before {
    background: url("../images/help.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none;
    -webkit-filter: none;
}

.header-desktop .hd-top-support ul .tracking a:hover:before {
    background: url("../images/tracking_hover.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-desktop .hd-top-support ul .help a:hover:before {
    background: url("../images/help_hover.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-mobile {
  background-color: #FFFFFF !important;
}

.header-mobile .mobile-nav a {
  border-color : @primary-color-child !important;
}

.header-mobile .mobile-nav a:before {
  background-color: @primary-color-child !important;
}

.header-mobile .mobile-nav a:hover {
  border-color : @secondary-color-child !important;
}

.header-mobile .mobile-nav a:hover:before {
  background-color: @secondary-color-child !important;
}

.header-mobile .minicart-wrapper .action.showcart:after {
  background: url("../images/cart.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  filter: none !important;
  -webkit-filter: none !important;
}

.header-mobile .minicart-wrapper .action.showcart:hover:after {
  background: url("../images/cart_hover.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  filter: none !important;
  -webkit-filter: none !important;
}

.header-services .dropdown-block .dropdown-list {
  z-index: 9999 !important;
}