/*
===============================
TABS
===============================
*/
.list-tabs {
  background-color: @primary-color-child !important;
}

.list-tabs .item-tab.active,
.list-tabs .item-tab:hover {
  background-color: #008D8F !important;
}


/*
===============================
LINKS GERAIS (VIEW ALL, SERVICES, ETC)
===============================
*/
.container .block .block-title a,
.item .service-info .google-element-font a,
.item .service-info .read-more a,
.container .block.block-home-services .block-title a,
.container .block.block-home-partner .block-title a {
  color: @primary-color-child;
}


/*
===============================
HOVER PADRÃO
===============================
*/
.container .block .block-title a:hover,
.item .service-info .google-element-font a:hover,
.item .service-info .read-more a:hover,
.container .block.block-home-services .block-title a:hover,
.container .block.block-home-partner .block-title a:hover {
  color: @secondary-color-child;
}
